html, body, #root, .App {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-button {
  padding: 1em;
  background: #0066ff;
  border: 1px solid #0066ff;
  border-radius: 9px;
  color: white;
  font-weight: bold;
  transition: background 0.2s linear;
}

.App-button:hover {
  background: #0248b1;
  cursor: pointer;
}

.App-button:focus {
  outline: solid 2px red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.recharts-responsive-container > .recharts-wrapper {
  transform: translateX(-1em);
}
