.App {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}

.App-button {
  padding: 1em;
  background: #0066ff;
  border: 1px solid #0066ff;
  border-radius: 9px;
  color: white;
  font-weight: bold;
  transition: background 0.2s linear;
}

.App-button:hover {
  background: #0248b1;
  cursor: pointer;
}

.App-button:focus {
  outline: solid 2px red;
}

.App-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
}

/* align rechart container to the left of the screen */
.recharts-responsive-container > .recharts-wrapper {
  transform: translateX(-1em);
}
